<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>hola! <%= @user.name %> <%= @user.lastname %></h1>
    <p> le recuerdo que a echo una reserva a Vienna en la sala
    	n° <%= @booking.room_id %> para la fecha <%= @booking.fecha %> 
	   	tiene que confirmar antes de la fecha : <%= @booking.fecha - 1.day %> o su reserva sera anulada </p>
    <p>Gracias por preferir Estudio Vienna!</p>
  </body>
</html>