<%= form_tag :action =>'guardar_recuperar_contrasena' do  %>
  </br>
  <div class="field" >
    <%= label_tag :nueva_password %>
  </div>

   <div class="field">
    <%= password_field_tag :password %>
  </div></br>

  <div class="field">
    <%= label_tag :confirmar_nueva_password %>
  </div>

  <div class="field">
    <%= password_field_tag :password_confirmation %>
  </div></br>
  
  <div class="field">
    <%= submit_tag "Cambiar contraseña", :class => "active icon-ok-sign btn btn-primary "  %>
    <%= hidden_field_tag "id", @user.id %>
  </div>
  
  <%end%> 
